@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    background-color: #f9f9f9;
    z-index: 1000;
}

.logo img {
    flex: 1;
    height: 40px;
}

nav .navlink {
    flex: 2;
    display: flex;
    justify-content: center;
}

.nav-container {
    background: #213d9a8d;
    padding: 10px;
    border-radius: 999px;
    display: flex;
    gap: 10px;
    backdrop-filter: blur(10px);
}

.nav-container a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 999px;
    font-size: 14px;
    transition: 0.3s;
    color: black;
    font-weight: 500;
}

.nav-container a.active {
    background: #213e9a;
    color: white;
}

.nav-container a:hover {
    background: #213e9a;
    color: white;
}

.about {
    padding: 100px 8%;
    background: #213d9ac3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-container {
    max-width: 800px;
    text-align: center;
    background: rgba(255, 255, 255, 0.884);
    padding: 50px 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    position: relative;
}

.desc-container::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background: #E53935;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

.desc-container h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #213E9A;
    font-weight: 700;
}

.desc-container p {
    font-size: 16px;
    color: #555;
    line-height: 1.8;
    font-weight: bold;
}

.tea-selection {
    padding: 80px 10%;
    background-color: #fff;
}

.selection-container {
    max-width: 1200px;
    margin: 0 auto;
}

.selection-item {
    display: flex;             
    flex-direction: row;       
    align-items: center;       
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 50px;                 
}

.selection-text {
    flex: 1;                   
    text-align: left;          
}

.selection-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #1a1a1a;
}

.selection-text p {
    font-size: 17,6px;
    line-height: 1.6;
    color: #555;
}

.selection-image {
    flex: 1.5;                 
    display: flex;
    justify-content: flex-end; 
}

.selection-image img {
    width: 100%;
    max-width: 600px;          
    height: auto;
    box-shadow: 0 20px 40px rgba(0,0,0,0.05); 
    border-radius: 4px;
}


.selection-image {
    justify-content: center; 
}

.title {
    text-align: center;
    margin-bottom: 60px;
    font-size: 25px;
    color: #213E9A;
}